.main-heading {
  font-size: 34px;
  color: #0e3c26;
}
.heading-container {
 margin-top: 30px;
}
.heading-name{
  font-style: italic;
}

@media screen and (max-width:1025px){
  .heading-container{
 margin-top: 20px;
  }


}