.chat-container {
  overflow-y: scroll;
  max-height: 600px;
  width: 650px;
}
.chat-container::-webkit-scrollbar {
  display: none;
}
.message {
  display: flex;
  margin-bottom: 24px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.message.user {
  justify-content: flex-end;
}
.message.user .message-content {
  background-color: rgba(245, 234, 219, 1);
}

.message-content {
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 70%;
  font-size: 20px;
}

.message.ai .message-content {
  background: none;
}
