.image-prompt {
    border: 1px solid rgb(229, 227, 227);
    border-radius: 20px;
    height: 220px;
    width: 550px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    margin-left: 40px;

}

.image-prompt img {
    width: 240px;
    height: 200px;
    border-radius: 20px;
    flex-shrink: 0; 
}

.image-prompt p {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    max-width: 250px;
    line-height: 1.2; 
    text-align: left; 
    margin-top: 120px;
    color: #0e3c26;
}
