.image-grid{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:1025px){
    .image-grid{
    width: 100%;
    border: 1px solid red;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    }

}